.user-profile {

  > .profile-header {
    width: 100%;
    margin-top: -20px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $gray-darker;
    background-size: cover;
    text-align: center;

    color: white;
    text-shadow: 0 1px 10px rgba(0, 0, 0, 0.90);

    .profile-picture {
      display: block;
      width: 15rem;
      height: 15rem;
      margin: 0 auto;
      border-radius: 8rem;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    }

    > .name {
      margin-top: $padding-large-vertical;
      margin-bottom: $padding-large-vertical;
      font-size: 2.5rem;
      text-align: center;
    }

    > .info {
      text-align: center;

      .divider {
        display: inline-block;
        padding: 0 $padding-base-vertical;
      }
    }

  }


  
  .profile-buttons {
    padding: $padding-large-vertical $padding-base-horizontal;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    .message {
      padding: $padding-base-vertical 0;
    }

    .message.not-accepting {
      color: $gray;
    }
  }

}

.tab-pane table tr:first-child > td {
  border-top: none;
}
