body {
  background: $gray-lighter;
}

a,
button {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

h1, h2, h3 {
  text-align: center;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
}

p.lead {
  font-weight: 300;
}
