#content .info-bar {
  line-height: 32px;
  vertical-align: middle;
}
@media (max-width: 991px) {
  #content .info-bar .commissions-showing {
    text-align: center;
  }
}
@media (max-width: 991px) {
  #content .info-bar .commissions-number-sort {
    text-align: center;
    margin-top: 10px;
  }
}
#content .info-bar .commissions-number strong {
  margin-right: 10px;
}
#content .info-bar .commissions-sort-by select {
  margin-left: 10px;
}
@media (max-width: 991px) {
  #content .info-bar .commissions-sort-by {
    margin: 10px 0 0;
  }
  #content .info-bar .commissions-sort-by select {
    margin: 0;
  }
}
#content .commission {
  background: #fff;
  border: solid 1px $gray-lighter;
  border-radius: $border-radius-base;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 30px;
  /* entire container, keeps perspective */
  /* flip speed goes here */
  /* hide back of pane during swap */
  /*  UPDATED! front pane, placed above back */
  /* back, initially hidden pane */
}
#content .commission .flip-container {
  cursor: pointer;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
@media (max-width: 767px) {
  #content .commission .flip-container img.img-responsive {
    min-width: 100%;
  }
}
#content .commission .flip-container,
#content .commission .front,
#content .commission .back {
  width: 100%;
}
#content .commission .flipper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}
#content .commission .front,
#content .commission .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
}
#content .commission .front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
#content .commission .back {
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
#content .commission:hover .back {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  z-index: 2;
}
#content .commission:hover .front {
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  z-index: 1;
}
#content .commission .invisible {
  visibility: hidden;
}
@media (max-width: 767px) {
  #content .commission .invisible img.img-responsive {
    min-width: 100%;
  }
}
#content .commission .text {
  padding: 10px 10px 0;
}
#content .commission .text h3 {
  font-size: 18px;
  font-weight: 700;
  height: 39.6px;
  text-align: center;
  overflow: hidden;
}
#content .commission .text h3 a {
  color: $gray;
}
#content .commission .text p.price {
  font-size: 18px;
  text-align: center;
  font-weight: 300;
}
#content .commission .text p.price del {
  color: $gray-light;
}
#content .commission .text .buttons {
  clear: both;
  text-align: center;
}
#content .commission .text .buttons .btn {
  margin-bottom: 10px;
}
#content .banner {
  margin-bottom: 30px;
}
#content .pages {
  text-align: center;
}
#content .pages .loadMore {
  text-align: center;
}
#content .pages .pagination {
  text-align: center;
}
#content #mainImage {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
#content #commissionMain {
  margin-bottom: 30px;
}
#content #commissionMain .goToDescription {
  margin-top: 20px;
  font-size: 12px;
  text-align: center;
}
#content #commissionMain .goToDescription a {
  color: $gray-light;
  text-decoration: underline;
}
#content #commissionMain .price {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  margin-top: 40px;
}
#content #commissionMain .buttons {
  margin-bottom: 0;
  text-align: center;
}
#content #commissionMain .buttons .btn {
  margin-bottom: 10px;
}
#content #details .social {
  text-align: left;
}
#content #details .social h4 {
  font-weight: 300;
  margin-bottom: 10px;
}
#content #details .social p {
  line-height: 26px;
}
#content #details .social p a {
  margin: 0 10px 0 0;
  color: #fff;
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  line-height: 26px;
  font-size: 15px;
  text-align: center;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  vertical-align: bottom;
}
#content #details .social p a i {
  vertical-align: bottom;
  line-height: 26px;
}
#content #details .social p a.facebook {
  background-color: #4460ae;
}
#content #details .social p a.gplus {
  background-color: #c21f25;
}
#content #details .social p a.twitter {
  background-color: #3cf;
}
#content #details .social p a.instagram {
  background-color: #cd4378;
}
#content #details .social p a.email {
  background-color: #4a7f45;
}
@media (max-width: 991px) {
  #content #details .social {
    text-align: center;
  }
}
#content #thumbs {
  margin-top: 15px;
}
#content #thumbs .col-xs-3 {
  padding-right: 0;
}
#content #thumbs a {
  display: block;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  border: solid 2px transparent;
}
#content #thumbs a.active {
  border-color: $brand-primary;
}
#content #checkout .nav {
  margin-bottom: 20px;
  border-bottom: solid 1px $brand-primary;
}
#content #checkout .nav li {
  height: 100%;
}
#content #checkout .nav li a {
  display: block;
  height: 100%;
}
#content #order-summary table {
  margin-top: 20px;
}
#content #order-summary table td {
  color: $gray-light;
}
#content #order-summary table tr.total td,
#content #order-summary table tr.total th {
  font-size: 18px;
  color: $gray;
  font-weight: 700;
}
#content #checkout .table tbody tr td,
#content #basket .table tbody tr td,
#content #customer-order .table tbody tr td {
  vertical-align: middle;
}
#content #checkout .table tbody tr td input,
#content #basket .table tbody tr td input,
#content #customer-order .table tbody tr td input {
  width: 50px;
  text-align: right;
}
#content #checkout .table tbody tr td img,
#content #basket .table tbody tr td img,
#content #customer-order .table tbody tr td img {
  width: 50px;
}
#content #checkout .table tfoot,
#content #basket .table tfoot,
#content #customer-order .table tfoot {
  font-size: 18px;
}
#content #text-page h1,
#content #text-page h2,
#content #text-page h3 {
  font-weight: 700;
}
#content #error-page {
  text-align: center;
}
#content #error-page h4 {
  margin-bottom: 40px;
}
#content #error-page p.buttons {
  margin-top: 40px;
}
#content #map {
  height: 400px;
}
#content #customer-orders table tr th,
#content #customer-orders table tr td {
  vertical-align: baseline;
}
#content #customer-order .table tfoot th {
  font-size: 18px;
  font-weight: 300;
}
#content #customer-order .addresses {
  text-align: right;
}
#content #customer-order .addresses p {
  font-size: 18px;
  font-weight: 300;
}
