.circled-number {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin-right: $padding-xs-horizontal;
  padding-top: 0.15em;

  text-align: center;
  border: 1px solid black;
  border-radius: 100%;
}

.breadcrumb {
  box-shadow: none;
}

.toggle-section {
  border-radius: $border-radius-base;

  &.collapsed {
    margin-bottom: $padding-large-vertical;
  }

  &.collapsed .expanded-only {
    display: none;
  }

  .collapsed-only {
    display: none;
  }

  &.collapsed .collapsed-only {
    display: inline-block;
  }
}

.media-list.centered-content {
  .media-body {
    vertical-align: middle;
  }
}

.media-list.headings-only {
  .media-heading {
    margin-bottom: 0;
  }
}
