<li class="media">
    <%= image_tag "copy.png", class: "img img-responsive" %>
    <div class="media-body">
        <h2 class = "media-heading"> Someone wants to buy a copy of one of your items!</h2>
    <h3>
        <%= "#{notification.about_user.name} wants #{notification.commission.name}" %></h3>
    <%= link_to "Accept" %>
    <%= link_to "Decline" %>
</div>
</li>
