<li class="media">
    <div class="media-left">
      <%= image_tag "notification/review.png" %>
    </div>
    <div class="media-body">
        <h2 class = "media-heading"><%= "#{notification.about_user.name} just reviewed you!" %></h2>
        <%= link_to "See your reviews", user_profile_path(notification.user), class: "btn btn-primary" %>

        <%= link_to notification_path(notification), class: "btn btn-default pull-right", method: 'delete' do %>
        <i class="glyphicon glyphicon-trash"></i>
        <% end %>
</div>
</li>
