<li class="media">
  <div class="media-left">
    <%= image_tag notification.about_user.profile_picture.url(:thumb), class: "profile-picture" %>
  </div>

<div class="media-body">
    <h2 class = "media-heading">
        You have a new follower
    </h2>
    <% if notification.user.followings.any? { |following| following.id == notification.about_user.id } %>
       <%#= link_to "Unfollow", friendship_path(:following_id => notification.about_user.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"%>
    <%else%>
       <%= link_to "Follow", friendships_path(:following_id => notification.about_user.id), :method => :post, class: "btn btn-primary"%>
    <%end%>
    <%= link_to "View their page", user_profile_path(notification.about_user), class: "btn btn-default btn-small"  %>

    <%= link_to notification_path(notification), class: "btn btn-default pull-right", method: 'delete' do %>
    <i class="glyphicon glyphicon-trash"></i>
    <% end %>
</div>
</li>
