<li class="media">
    <%= link_to notification_path(notification), class: "btn btn-link pull-right", method: 'delete' do %>
    <i class="glyphicon glyphicon-remove"></i>
    <% end %>
    <div class="media-left">
      <%= image_tag "notification/review.png" %>
    </div>
    <div class="media-body">
        <h2 class = "media-heading"><%= "#{notification.about_user.name} just reviewed you!" %></h2>
        <%= link_to "See your reviews", user_profile_path(notification.user), class: "btn btn-primary" %>
</div>
</li>
