<li class="media">
    <%= link_to notification_path(notification), class: "btn btn-link pull-right", method: 'delete' do %>
    <i class="glyphicon glyphicon-remove"></i>
    <% end %>
    <div class="media-left">
      <%= image_tag "notification/paid.png" %>
    </div>
    <div class="media-body">
      <h3 class = "media-heading">Someone just paid for an item</h3>
        <h4><%= "#{notification.about_user.name} paid for #{notification.commission.name}" %></h4>
        <%= link_to "Shipped it", mark_shipped_commission_path(notification.commission), class: "btn btn-primary", method: 'post' %>
</div>
</li>
