<li class="media">
    <div class="media-left">
      <%= image_tag "notification/paid.png" %>
    </div>
    <div class="media-body">
        <h2 class = "media-heading"><%= "#{notification.about_user.name} just paid for #{notification.commission.name}" %></h2>
        <%= link_to "Ship It", class: "btn btn-primary" %>
</div>
</li>
