<li class="media">
    <div class="media-left">
      <%= image_tag "notification/pay.png" %>
    </div>
    <div class="media-body">
        <h2 class = "media-heading"><%= "#{notification.about_user.name} accepted your offer on #{notification.commission.name}" %></h2>
    <%= link_to "Pay Now", class: "btn btn-success" %>
    <%= link_to user_activity_feed_path(current_user), class: "btn btn-default pull-right", method: 'delete' do %>
    <i class="glyphicon glyphicon-trash"></i>
    <% end %>
</div>
</li>
