<li class="media">
    <div class="media-left">
      <%= image_tag "copy.png" %>
    </div>
    <div class="media-body">
        <h2 class = "media-heading"><%= "#{notification.about_user.name} accepted your offer on #{notification.commission.name}" %></h2>
    <%= link_to "Pay Now" %>
</div>
</li>
