<li class="media">
    <div class="media-left">
      <%= image_tag "copy.png" %>
    </div>
    <div class="media-body">
        <h2 class = "media-heading"><%= "#{notification.about_user.name} rejected your request for #{notification.commission.name}" %></h2>    
</div>
</li>
