<li class="media">
  <%= link_to notification_path(notification), class: "btn btn-link pull-right", method: 'delete' do %>
  <i class="glyphicon glyphicon-remove"></i>
  <% end %>
    <div class="media-left">
      <%= image_tag "notification/pay.png" %>
    </div>
    <div class="media-body">
      <h3 class = "media-heading">Someone accepted your offer on a commission!</h3>
        <h4><%= "#{notification.about_user.name} accepted your offer on #{notification.commission.name}" %>
        </h4>
    <%= link_to "Pay now", pay_now_path(notification.commission), class: "btn btn-success" %>
</div>
</li>
