<div class="row">
  <div class="col-md-12">
    <ul class="breadcrumb">
      <li><a href="/dashboard">Dashboard</a></li>
      <li>My Listings</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12" id="customer-orders">
    <div class="box">
      <h1>My Listings</h1>
      <p class="lead">Commissions you are offering in one place.</p>
      <hr>
      <% if @commissions && @commissions.any? %>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Listed On</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @commissions.each do |commission| %>
            <tr>
              <td><%= commission.name %></td>
              <td><%= commission.created_at.strftime "%d %B %Y" %></td>
              <td style="padding-left: 10px">
                <%= link_to "View Commission", commission, class: "btn btn-primary" %>
                <%= link_to "Edit Commission", edit_commission_path(commission), class: "btn btn-default" %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% else %>
      <p>You have not listed any past commissions yet</p>
      <% end %>
    </div>
  </div>
</div>
