<div class="row">
  <div class="col-md-12">

    <ul class="breadcrumb">
      <li><a href="/dashboard">Dashboard</a></li>
      <li>My Commissions</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12" id="customer-orders">
    <div class="box">
      <h1>My Commissions</h1>

      <p class="lead">All the products you have commissioned in one place.</p>

      <hr>
      <% if @commissions && @commissions.any? %>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Product Name</th>
              <th>Commission Date</th>
              <th>State</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @commissions.each do |commission| %>
            <tr>
              <td><%= commission.name %></td>
              <td><%= commission.created_at.strftime "%d %B %Y" %></td>
              <td> <%= render partial: 'commissions/display_state', locals: {:state => commission.state} %></td>
              <td style="padding-left: 10px">
                <%= link_to "View Details", private_commission_path(commission.id), class: "btn btn-primary" %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% else %>
      <p>You have not commissioned any products yet</p>
      <% end %>
    </div>
  </div>
</div>
