<div class="row">
  <div class="col-md-12">
    <%= render partial: "commissions/status", locals: { commission: @commission } %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render partial: "commissions/show_common" %>
  </div>
</div>
