<!-- Modal -->
<div id="requestCopy" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- TODO: deal with user not signed in -->
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Commission Request: Request A Copy</h3>
      </div>
      <div class="modal-body">
        <h4>Are you sure you want to request a copy of <%= @commission.name %>?</h4>
        <p>If you pick yes, a request will be sent to the seller</p>
        <h4>Details:</h4>
        <p> Price: <%= @commission.price %> </p>
        <p> <%= @commission.description %> </p>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-md-12">
          <div class="col-md-6">
            <div class="text-left">
                <button type="button" class="btn btn-warning" data-dismiss="modal">No</button>
            </div>
          </div>
          <% if user_signed_in? %>
          <div class="col-md-6">
          <div class="text-right">
            <button type="button" class="btn btn-success" data-dismiss="modal">Yes</button>
          </div>
        </div>
        <% end %>
      </div>
      </div>
      </div>
    </div>

  </div>
</div>
