<div class="row">
  <div class="col-md-12">
    <div class="box without-spacing">

      <h1>Order History</h1>

      <% if @orders %>
      
        <table class="table table-striped">
          <thead class="thead-default">
            <tr>
              <th>#</th>
              <th>Ordered On</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @orders.each do |order| %>
              <tr>
                <td><%= order.id %></td>
                <td><%= order.created_at.strftime "%d %B %Y" %></td>
                <td style="padding-left: 10px">
                  <%= link_to order, class: "btn btn-primary" do %>
                    View order
                  <% end %>
                </td>
                <td><%#= link_to 'Edit', edit_order_path(order)%></td>
                <td><%#= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>You have no previous orders</p>
      <% end %>

    </div>
  </div>
</div>