.commissions {
    > .pagination {
        margin: 5px 0;

        li:first-child > a {
          border-top-left-radius: 1000px;
          border-bottom-left-radius: 1000px;
        }

        li:last-child > a {
          border-top-right-radius: 1000px;
          border-bottom-right-radius: 1000px;
        }
    }
}
