<div class="container">
	<div class="row">
	    <div class="col-md-12">
	        <div class="box without-spacing">
							<% if @commission.buyer %>
	            	<h1>Edit commission for <%= @commission.buyer.name %></h1>
							<% else %>
								<h1>Edit Sample Commission</h1>
							<% end %>

	            <%if user_signed_in? && @commission.seller_id == current_user.id %>
								<%= render partial: "form" %>
            	<%end %>
	        </div>
	    </div>
	</div>
</div>
