<div class="container">
	<div class="row">
	    <div class="col-md-12">
	        <div class="box without-spacing">
							<% if params[:message_thread_id] %>
									<%= link_to message_thread_path(params[:message_thread_id]), class: "btn btn-default" do %>
										<span class="glyphicon glyphicon-chevron-left"></span> Return to messages
									<% end %>
							<% end %>

	            <h1>Edit Commission</h1>

	            <%if user_signed_in? && @commission.seller_id == current_user.id %>
								<%= render partial: "edit" %>
            	<%end %>
	        </div>
	    </div>
	</div>
</div>
