<div id="all">
  <div id="content">
    <div class="container">
        <div class="box">
            <h1>Results for '<%= params[:search] %>'</h1>
        </div>

        <%#= render partial: 'categories/info_bar' %>
        <%= render partial: 'categories/commission_view' %>

        </div>
  </div>
</div>
