
	<div class="row">
	    <div class="col-md-12">
	        <div class="box without-spacing">
				<% if params[:message_thread_id] %>
						<%= link_to message_thread_path(params[:message_thread_id]), class: "btn btn-default" do %>
							<span class="glyphicon glyphicon-chevron-left"></span> Return to messages
						<% end %>

						<h1>Create commission for <%= message_thread.buyer.name %></h1>
				<% else %>
						<h1>Add Listing</h1>
				<% end %>

	            <%if user_signed_in?%>
					<%= render partial: "form", locals: {edit: false} %>
	 			<% end %>
	        </div>
	    </div>
	</div>
