<button class="btn btn-default btn-block toggle-section hidden" data-target="#category_sidebar">
  <span class="collapsed-only glyphicon glyphicon-menu-down"></span>
  <span class="expanded-only glyphicon glyphicon-menu-up"></span>

  Categories
</button>

<div id="category_sidebar" class="panel panel-default sidebar-menu">
    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked category-menu">
            <li>
                <% Category.first.root.children.each do |category| %>
                <%= link_to category_path(category.id) do %>
                <%= category.name %>
                <span class="badge pull-right"><%=category.children.flat_map(&:commissions).length%></span>
                <% end %>
                <ul>
                    <% category.children.each do |sub_category| %>
                    <li>
                        <%= link_to sub_category.name, category_path(sub_category.id) %>
                    </li>
                    <% end %>
                </ul>
                <% end %>
            </li>
        </div>
    </div>
