<div class="row commissions-info-bar">
  <div class="col-md-12  commissions-number-sort">
    <span class="item-count-display"><%= page_entries_info @commissions %></span>
    <span class="commissions-sort-by pull-right">
      <span class="sr-only">Sort by</span>
      <span class="btn-group">
        <% @order_options.each do |order| %>
          <% if @order == order %>
            <%= link_to order, category_path(@category.id, params.except(:page).merge(order: order)), class:"btn btn-primary btn-sm" %>
          <% else %>
          <%= link_to order, category_path(@category.id, params.except(:page).merge(order: order)), class:"btn btn-default btn-sm" %>
          <% end %>
        <% end %>
      </span>
    </span>
  </div>
</div>
