<div class="box seller-bar hidden-xs">
  <h2>Top sellers</h2>

  <div class="row">
    <% @top_sellers.each do |seller| %>
      <div class="col-md-4">
        <%= link_to user_profile_path(seller.id), class: "seller-display" do %>
          <img class="profile-picture img-responsive" alt="Profile picture" src="<%= seller.profile_picture.url %>">
          <div class="seller-details">
            <h5><%= seller.name %></h5>
            <span><%= user_rating(seller) %></span>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
