<div id="content">
    <div class="container">

        <div class="col-md-12">
            <ul class="breadcrumb">
                <li><a href=<%= root_path %>>Home</a>
                </li>
                <li>Text page</li>
            </ul>
        </div>

        <%= yield %>
        
    </div>
</div>
